<div *ngIf="tokenResponse$ | async as tokenResponse; else loadingOrError">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let token of tokenResponse.wowTokens">
            <migs-tech-wow-token-card [token]="token"></migs-tech-wow-token-card>
        </div>
    </div>
</div>

<ng-template #loadingOrError>
    <div *ngIf="error$ | async; else loading">
        <div class="p-grid">
            <div class="p-col-12">
                <migs-tech-error-panel (refreshEvent)="getTokenOnRefresh()"></migs-tech-error-panel>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let number of [0,1,2,3,4]">
                <migs-tech-loading-card></migs-tech-loading-card>
            </div>
        </div>
    </ng-template>
</ng-template>