<div *ngIf="tokenResponse$ | async as tokenResponse" class="p-grid">
    <p-card class="p-col-12 p-md-12 p-lg-3" *ngFor="let token of tokenResponse.wowTokens">
        <div class="p-d-flex p-ai-center">
            <div>
                <div class="region-text p-mr-3">
                    {{ token.region | uppercase }}
                </div>
            </div>
            <div *ngIf="token?.region">
                <img class="region-flag" src="https://www.countryflags.io/{{ token.region }}/flat/64.png" />
            </div>
        </div>
        <div class="p-d-flex p-flex-column">
            <div class="token-text">
                {{ token.price | copperToGold }}G
            </div>
            <div class="date-text">
                Last Updated: {{ token.lastUpdatedTimestamp | epochToDate | date: "M/d/yy, h:mm a zzzz" }}
            </div>
        </div>
    </p-card>
</div>