<div *ngIf="tokenResponse$ | async as tokenResponse">
    <div class="example-card" *ngFor="let token of tokenResponse.wowTokens">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <div class="mat-display-3">
                    {{ token.region | uppercase }}
                </div>
            </div>
            <div *ngIf="token?.region">
                <img mat-card-avatar src="https://www.countryflags.io/{{ token.region }}/flat/64.png" />
            </div>
        </div>
        <div>
            <div fxLayout="column">
                <div class="mat-headline">
                    {{ token.price | copperToGold }}G
                </div>
                <div class="mat-caption">
                    Last Updated: {{ token.lastUpdatedTimestamp | epochToDate | date: "M/d/yy, h:mm a zzzz" }}
                </div>
            </div>
        </div>
    </div>
</div>

<p-card>
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Body Content
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card>