<p-card>
    <div class="p-d-flex p-ai-center">
        <div class="p-my-2">
            <p-skeleton width="4rem" height="3rem" styleClass="p-mr-3"></p-skeleton>
        </div>
        <div>
            <p-skeleton width="3rem" height="2rem"></p-skeleton>
        </div>
    </div>
    <div class="p-d-flex p-flex-column">
        <div class="p-my-2">
            <p-skeleton width="12rem" height="3rem"></p-skeleton>
        </div>
        <div>
            <p-skeleton width="12rem" height="1rem"></p-skeleton>
        </div>
    </div>
</p-card>